@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Kanit:wght@500&display=swap");

::-webkit-scrollbar {
  width: 8px;
  height: 17px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #818181;
  border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover {
  background: #39bef3;
}
::-webkit-scrollbar-thumb:active {
  background: #727bff;
}
::-webkit-scrollbar-track {
  background: #d4e3ff;
  border-radius: 0px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Kanit", sans-serif;
  display: flex;
  justify-content: center;
}

body.rainbow-theme,
.rainbow-theme {
  background: linear-gradient(
    123deg,
    #2e99b0 0%,
    #2e99b0 40%,
    #fcd77f calc(40% + 1px),
    #fcd77f 60%,
    #ff2e4c calc(60% + 1px),
    #ff2e4c 75%,
    #1e1548 calc(75% + 1px),
    #1e1548 100%
  );
}

body.dark-theme,
.dark-theme {
  background-image: repeating-linear-gradient(220deg, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 19px, transparent 19px, transparent 22px),
    repeating-linear-gradient(189deg, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 19px, transparent 19px, transparent 22px),
    repeating-linear-gradient(148deg, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 19px, transparent 19px, transparent 22px),
    linear-gradient(90deg, rgb(30, 169, 65), rgb(158, 25, 173));
}

body.purple-theme,
.purple-theme {
  background-image: linear-gradient(
      242deg,
      transparent 0%,
      transparent 62%,
      rgba(93, 93, 93, 0.01) 62%,
      rgba(93, 93, 93, 0.01) 68%,
      transparent 68%,
      transparent 100%
    ),
    linear-gradient(
      314deg,
      transparent 0%,
      transparent 80%,
      rgba(93, 93, 93, 0.03) 80%,
      rgba(93, 93, 93, 0.03) 94%,
      transparent 94%,
      transparent 100%
    ),
    linear-gradient(
      22deg,
      transparent 0%,
      transparent 44%,
      rgba(93, 93, 93, 0.03) 44%,
      rgba(93, 93, 93, 0.03) 74%,
      transparent 74%,
      transparent 100%
    ),
    radial-gradient(circle at 50% 43%, rgba(0, 0, 0, 0.01) 0%, rgba(0, 0, 0, 0.01) 2%, transparent 2%, transparent 100%),
    radial-gradient(circle at 53% 88%, rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, 0.02) 2%, transparent 2%, transparent 100%),
    radial-gradient(circle at 75% 8%, rgba(0, 0, 0, 0.01) 0%, rgba(0, 0, 0, 0.01) 2%, transparent 2%, transparent 100%),
    radial-gradient(circle at 88% 38%, rgba(0, 0, 0, 0.01) 0%, rgba(0, 0, 0, 0.01) 2%, transparent 2%, transparent 100%),
    radial-gradient(circle at 22% 47%, rgba(0, 0, 0, 0.01) 0%, rgba(0, 0, 0, 0.01) 8%, transparent 8%, transparent 100%),
    radial-gradient(circle at 25% 63%, rgba(0, 0, 0, 0.03) 0%, rgba(0, 0, 0, 0.03) 8%, transparent 8%, transparent 100%),
    radial-gradient(circle at 11% 36%, rgba(0, 0, 0, 0.03) 0%, rgba(0, 0, 0, 0.03) 8%, transparent 8%, transparent 100%),
    radial-gradient(circle at 24% 20%, rgba(0, 0, 0, 0.01) 0%, rgba(0, 0, 0, 0.01) 8%, transparent 8%, transparent 100%),
    radial-gradient(circle at 24% 89%, rgba(0, 0, 0, 0.01) 0%, rgba(0, 0, 0, 0.01) 8%, transparent 8%, transparent 100%),
    radial-gradient(circle at 28% 97%, rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, 0.02) 5%, transparent 5%, transparent 100%),
    radial-gradient(circle at 32% 4%, rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, 0.02) 5%, transparent 5%, transparent 100%),
    radial-gradient(circle at 62% 28%, rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, 0.02) 5%, transparent 5%, transparent 100%),
    radial-gradient(circle at 40% 44%, rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, 0.02) 5%, transparent 5%, transparent 100%),
    radial-gradient(circle at 89% 51%, rgba(0, 0, 0, 0.01) 0%, rgba(0, 0, 0, 0.01) 5%, transparent 5%, transparent 100%),
    linear-gradient(45deg, rgb(46, 228, 244), rgb(141, 8, 253));
}

.bg-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  margin: auto;
}

.bg-btn {
  width: 40px;
  height: 40px;
  background-color: rgb(255, 225, 219);
  border-radius: 50%;
  border: 4px solid #cacaca;
  cursor: pointer;
  margin: 0 10px;
}

.container {
  width: 1280px;
  height: 100%;
  margin: 0 20px;
}

.container span {
  color: rgb(255, 108, 108);
}

.container h1 {
  text-align: center;
  margin: 40px 0 20px 0;
  font-size: 3rem;
  color: #fff;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.1);
  margin: 30px 0 10px 0;
}

.container .subtitle {
  color: #fff;
  width: 80%;
  text-align: center;
  margin: auto;
}

.subtitle a {
  color: #fcd77f;
}

.container .github-star {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 14px 0 30px 0;
}

.section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 3fr));
  gap: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(252, 252, 252, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: transform 0.1s ease-in-out;
  position: relative;
  margin-bottom: 20px;
}

.containerImg {
  width: 90%;
  height: auto;
  margin: 20px 20px 0 20px;
  background-position: center;
  background-size: contain;
  border-radius: 10px;
  position: relative;
}

.containerImg .projectImg {
  position: relative;
  width: 100%;
}

.containerImg .imgIcon {
  width: 42px;
  height: 42px;
  top: -14px;
  right: -14px;
  position: absolute;
  filter: drop-shadow(1px 1px 0.1rem rgba(0, 0, 0, 0.4));
}

.containerImg .imgIcon {
  cursor: help;
}

.content .title {
  height: 40px;
  font-size: 21px;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #1b1b1b;
}

.btnAll {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -10px 0;
}

.btn {
  font-family: "Comfortaa", cursive;
  min-width: 140px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  margin: 4px;
  outline: 0;
  border: 0;
}

.btn:first-child {
  background-color: rgb(255, 66, 66);
}

.btn:last-child {
  background-color: rgb(61, 61, 61);
}

.btn:first-child:hover {
  background-color: rgb(224, 36, 36);
}

.btn:last-child:hover {
  background-color: rgb(37, 37, 37);
}

.btn a {
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn i,
.disableButton i {
  margin-right: 4px;
}

.disableButton {
  color: #fff;
  font-size: 21px;
  cursor: not-allowed !important;
  background-color: #ff9500 !important;
  margin-right: 2px;
}

.content p {
  width: 90%;
  height: auto;
  color: #1b1b1b;
  text-align: end;
  margin: 10px 0;
}

/* Up Button */

.upBtn {
  width: 60px;
  height: 60px;
  position: fixed;
  border-radius: 50%;
  right: 70px;
  bottom: 70px;
  cursor: pointer;
  text-decoration: none;
  background: rgb(255, 255, 255);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
  z-index: 1;
  mix-blend-mode: difference;
}

.upBtn.show {
  opacity: 1;
  visibility: visible;
}

.fa-solid .fa-angle-up {
  border-radius: 50%;
}

.upBtn:hover {
  transform: scale(1.1);
  transition: transform 0.9s ease;
}

.upBtn i {
  width: 100%;
  height: 100%;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 467px) {
  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content {
    width: 95%;
  }
  .content img {
    width: 100%;
    height: auto;
    padding: 20px;
    margin: 0;
  }
}

@media (max-width: 370px) {
  .btn {
    min-width: 120px;
    height: 36px;
  }
  .btn a {
    font-size: 12px;
  }

  @media (max-width: 370px) {
    .content img {
      max-width: 100%;
    }
    .btn {
      min-width: 100px;
      height: 32px;
    }
    .btn a {
      font-size: 12px;
    }
  }
}
